JWT_SECRET_KEY=your-secret-key
ENVIRONMENT=stage
AWS_PROFILE=your-profile-name
SENDER_EMAIL=your-verified-email
TOKEN_EXPIRY=token-lifetime

#admin user
ADMIN_ID=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_EMAIL=

#operator user
OPERATOR_ID=
OPERATOR_USERNAME=
OPERATOR_PASSWORD=
OPERATOR_FIRST_NAME=
OPERATOR_LAST_NAME=
OPERATOR_EMAIL=